<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`, {pageTitle: 'Home'}); -%>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <section class="top">
        <div class="container">
            <br>
            <br>
            <h1>Cello, World! <i class="fa fa-bath" aria-hidden="true"></i></h1>
            <img src="https://d2e3e84rl7gqyp.cloudfront.net/cellos.jpeg" alt="Cello World">
            <br>
            <p>Go to <a href="<%= PP %>/users/brian">Brian's Page</a>.</p>
            <h4>Date: <span id="time"><%= (new Date).toGMTString() %></span></h4>
            <p>NODE_ENV: <%= NODE_ENV %></p>
        </div>
    </section>

    <section class="content">
        <div class="container">
            <h2>Brenton</h2>
            <img id="me" src="<%= PP %>/images/me-smiling.jpg" alt="Me Smiling">
            <ul>
                <li class="appear">This is a thing.</li>
                <li class="appear">This is a thing.</li>
                <li class="appear">This is a thing.</li>
                <li class="appear">This is a thing.</li>
                <li class="appear">This is a thing.</li>
                <li class="appear">This is a thing.</li>
                <li class="appear">This is a thing.</li>
                <li class="appear">This is a thing.</li>
                <li class="appear">This is a thing.</li>
                <li class="appear">This is a thing.</li>
            </ul>
            <br>
        </div>
    </section>

    <%- include(`${partials}/footer`); -%>
    <%- include(`${partials}/scripts`); -%>
</body>
</html>
